$primaryColor: #ffce00;
$primaryDark: darken($primaryColor, 15%);
$secondaryColor: #0375b4;

$tertiaryColor: #007849;
$blackShade: #262228;
$colorWhite: #fff;
// Primary fonts
// --------------------------------------------------
$primaryFont: "Montserrat", sans-serif;
